html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
}

h1 {
  margin-top: 0;
  text-align: center;
  background-color: #284b63;
  color: #ffffff;
  padding: 7px 0;
  margin-bottom: 0;
}

.main-container {
  display: flex;
  height: calc(100% - 52px);
  background-color: #d9d9d9;
}

.section-list {
  flex: 3;
}

.section-list h3 {
  color: #353535;
  font-size: 30px;
  text-align: center;
}

.section-form {
  flex: 2;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #3c6e71;
}

.section-form h3 {
  color: #ffffff;
  text-align: center;
}

.my-control {
  display: block;
  margin-bottom: 7px;
}

.input {
  border-radius: 5px;
}

.my-control label {
  display: inline-block;
  width: 70px;
  text-align: right;
  margin-right: 5px;
}
.my-control input,
.my-control select,
.my-control textarea {
  display: inline-block;
  padding: 5px 10px;
  width: auto;
}

#iImportant {
  font-size: 25px;
  color: crimson;
  cursor: pointer;
}
.task {
  display: flex;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 5px 10px;
  background: color #fdf0df;
  align-items: center;
}

.task i {
  flex: 1;
  font-size: 20px;
}

.task .info {
  flex: 6;
}

.task label {
  flex: 1;
}
